%h1 Droppit‽
%form{id: "file-form"}
  %label{for: "username"}
    Username
  %input{name: "username", type: "text", id: "username", value: "Anonymous"}
  %input{type: "file", id: "file-field"}
  %input{type: "submit"}
%div{id: "messages"}
%script{src: "/static/js/sockets.js", type: "text/javascript"}
