%h1 Droppit‽
%label{for: "username"}
  Username
%input#username{name: "username", type: "text", value: "Anonymous"}

%form#file-form
  %input#file-field{type: "file"}
  %input{type: "submit", value: "upload"}
%form#chat-form
  %label{for: "chat-field"}
    Chat:
  %input#chat-field{type: "text"}
  %input{type: "submit", value: "post"}
%ul#messages
%script{src: "/static/js/sockets.js", type: "text/javascript"}
